/* == CONTACT-NAVBAR == */

.contact-navbar {
  position: absolute;
  width: 100%;
  min-height: 40px;
  height: auto;
  top: 105px;
  color: $color-sowo;
  background-color: $color-white;

  @include atMedium {
    display: none;
  }
}


.contact-navbar__wrapper {
  max-width: 1136px;
  width: calc(100% - 4.0rem);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2.0rem;
  margin-right: 2.0rem;
  padding-top: 1.0rem;
}


.contact-navbar__item {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Kulim Park", sans-serif;
  line-height: 2.0rem;
  color: $color-sowo;
}


.contact-navbar__item a {
  text-decoration: none;
}



.contact-navbar__item--email {
  width: 50%;
  font-weight: 400;
  margin-left: 1.0rem;
}


.contact-navbar__item--email-icon {
  width: 1.5rem;
  height: auto;
}


.contact-navbar__item--email-address {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 300;
}


.contact-navbar__item--phone {
  width: 50%;
}


.contact-navbar__item--phone-icon {
  width: 1.5rem;
  height: auto;
}


.contact-navbar__item--phone-number {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 300;
}