/* == NAVIGATION == */

/* -- Main Navigation -- */
.main-navigation {
  display: inline-block;
  width: 50%;

  @include atMedium {
    max-width: 1136px;
    position: relative;
    display: block;
    width: 100%;
  }
}


.site-menu {
  position: relative;
  min-height: 72px;
  height: auto;
  text-align: right;

  @include atMedium {
    display: none;
  }
}


/* -- Burger Menu -- */
.burger-menu {
  position: relative;
  display: inline-block;
  width: 30px;
  min-height: 30px;
  height: auto;
  top: auto;
  margin-top: 15px;
  margin-right: 3.5rem;
  transition: border-radius 0.5s;

  @include atMedium {
    display: none;
  }
}


.line {
  position: absolute;
  position: relative;
  display: block;
  height: 3px;
  width: 30px;
  background: $color-dark-gray;
  transition: 0.5s;
  transform-origin: center;
}


.line:nth-child(1) {
  top: 10px;
  top: 8px;
}


.line:nth-child(2) {
  top: 20px;
  top: 16px;
}


.line:nth-child(3) {
  top: 30px;
  top: 24px;
}


/* --- Burger Menu Animation  --- */
.burger-menu.checked .line:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}


.burger-menu.checked .line:nth-child(2) {
  opacity: 0;
}


.burger-menu.checked .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}


.navbar {
  display: none;

  @include atMedium {
    display: initial;
    display: flex;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: normal;
    margin-right: 0;
    margin-left: auto;
    padding-left: 4.0rem;
    padding-left: 0.0rem;
  }
}


.is-active .navbar {
  position: absolute;
  display: block;
  width: 100vw;
  height: calc(100vh - 85px);
  /* top: 60px; */
  top: 90px;
  left: 0px;
  text-align: left;
  background-color: rgba($color-white, 0.95);
  border-top: 6px solid $color-dark-gray;
  padding-top: 0px;
  transition: 0.8s;
  z-index: 1;

  @include atMedium {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: initial;
    top: initial;
    left: initial;
    background-color: transparent;
    border-top: none;
    padding-top: initial;
    z-index: initial;
    margin-right: 0;
    margin-left: auto;
    padding-left: 4.0rem;
    padding-left: 0.0rem;
  }
}


.navbar__navigation-list {
  width: 100%;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  height: 65px;
  justify-content: space-evenly;
  align-items: center;

  @include atMedium {
    /* justify-content: space-between; */
    margin-left: 0;
  }
}


.main-navigation.is-active .navbar__navigation-list {
  position: relative;
  display: inline-table;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 25%;

  @include atMedium {
    /* display: none; */
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    height: 65px;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
    padding-top: initial;
    padding-left: initial;
  }
}


.navbar__navigation-list .navbar-item a {
  border-left: 1px solid $color-lighter-gray;
  padding-left: 3.0rem;
}


.navbar__navigation-list .navbar-item a span {
  display: block;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 1.5rem;
  line-height: 2.0rem;
  font-weight: 400;
  color: $color-lighter-gray;
  padding-left: 3.0rem;
}



.navbar__navigation-list .navbar-item:nth-of-type(2) a {
  color: $color-wg;
}


.navbar__navigation-list .navbar-item:nth-of-type(3) a {
  color: $color-bw;
}


.navbar__navigation-list .navbar-item:nth-of-type(4) a {
  color: $color-beve;
}


.navbar__navigation-list .navbar-item:nth-of-type(5) a {
  color: $color-punk;
}


.main-navigation.is-active .navbar-item {
  position: relative;
  text-align: left;
  list-style: none;
  margin: 3rem auto;

  @include atMedium {
    /* display: none; */
    text-align: initial;
    margin: initial;
  }
}


.navbar-item a,
.is-active .navbar-item a {
  font-family: "Kulim Park", sans-serif;
  font-size: 3.8rem;
  line-height: 4.3rem;
  font-weight: 600;
  text-decoration: none;
  color: $color-sowo;

  @include atMedium {

  }
}


.navbar-item a:hover,
.navbar-item a:active {

}



/* -- Footer Navigation -- */