/* === PAGE STYLE BeVe === */
.beve {

	& h1 {
		color: $color-beve;
	}


	& h2.wp-block-heading {
		background-color: $color-beve;
	}


	h3.wp-block-heading {
		border-bottom-color: $color-beve;
	}


	#contact-sidebar section {
		background-color: $color-beve;
	}


	& .team-members__person  {
		background-color: rgba($color-beve,0.75);
	}


	& .contact-person__person  {
		background-color: rgba($color-beve,0.75);
	}


	& .wp-block-quote p:before {
		color: $color-beve;
	}


	& .wp-block-quote p:after {
		color: $color-beve;
	}


	& .google-map .btn  {
		background-color: $color-beve;
	}


	& .google-map .btn:hover  {
		color: $color-beve !important;
		background-color: $color-white;
	}


	& .contact-link a {
		color: $color-beve !important;
	}


	.wp-block-gallery.has-nested-images.columns-2.is-cropped.is-layout-flex.wp-block-gallery-is-layout-flex {


		@include atMedium {

		}
	}


	.wp-block-gallery.has-nested-images.columns-default.is-cropped.is-layout-flex.wp-block-gallery-is-layout-flex {


		@include atMedium {

		}
	}


	.wp-block-gallery.has-nested-images.columns-default.is-cropped.is-layout-flex.wp-block-gallery-is-layout-flex figure {

		@include atMedium {
			width: calc(15% - var(--wp--style--unstable-gallery-gap, 16px)/4) !important;
			height: auto !important;
		}
	}


	.wp-block-gallery.has-nested-images.columns-2.is-cropped.is-layout-flex.wp-block-gallery-is-layout-flex figure {

		@include atMedium {
			width: calc(15% - var(--wp--style--unstable-gallery-gap, 16px)/4) !important;
			height: auto !important;
		}
	}



	.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) a,
	.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {

		@include atMedium {
			position: relative;
			flex: 1 0 0%;
			width: 100%;
			max-height: 450px;
			height: auto;
			object-fit: cover;
		}
	}

}