/* == SITE HEADER */
.site-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;

  @include atMedium {
    max-width: 1136px;
    width: 100%;
    min-height: 115px;
    height: auto;
    color: $color-white;
    border-top: 8px solid $color-sowo;
    border-left: 1px solid $color-lighter-gray;
    border-right: 1px solid $color-lighter-gray;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 100 !important;
  }
}


.site-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include atMedium {
    max-width: 1136px;
    position: relative;
    margin: 0 auto;
  }
}


.site-header a {
  color: $color-dark-gray;
  text-decoration: none;
  color: $color-dark-gray;
}


.site-header__branding {


  @include atMedium {
    width: initial;
    margin-left: 0.0rem;
    z-index: 10;
  }
}


.site-header__logo {
  position: relative;
  min-width: 220px;
  width: auto;
  height: auto;
  margin-top: 2.0rem;
  margin-left: 2.0rem;
  padding-bottom: 1.0rem;

  @include atMedium {
    position: relative;
    min-width: 200px;
    width: auto;
    height: auto;
    min-width: 170px;
    margin-top: 1.0rem;
    margin-left: 2.0rem;
    padding-bottom: initial;
  }
}

.header-logo__link {
  width: 100%;
  height: 100%;
}


.site-header__logo-img {
  width: 100%;
  height: auto;

  @include atMedium {

  }
}




.site-header__nav-container {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 1rem;

  @include atMedium {
    width: 90%;
  }
}