/* === ACCORDIONS === */

* {
	box-sizing: border-box;
}


*::before, *::after {
	box-sizing: border-box;
}


.accordion {
	position: relative;

	& .accordion-item {
		border-bottom: 1px solid $color-sowo;
	}


	& .accordion-item button[aria-expanded='true'] {
		/* border-bottom: 1px solid $mainRed; */
		padding-bottom: 0.25rem;
	}


	& button {
		position: relative;
		display: block;
		display: flex;
		align-items: center;
		text-align: left;
		width: 100%;
		padding: 0.25rem 1em;
		color: #EDE7E7;
		font-size: 2.2rem;
		font-weight: 400;
		line-height: 2.6rem;
		border: none;
		background: #829488;
		outline: none;
		border-radius: 0px;
		margin-bottom: 0.0rem;
		padding-right: 1.0rem;
		padding-bottom: 1.0rem !important;
	}


	& button:hover,
	& button:focus {
		cursor: pointer;
	}


	& button:hover::after,
	& button:focus::after {
		cursor: pointer;
		color: $color-sowo;
		background-color: transparent !important;
	}


	& button .accordion-title {
		font-weight: 400;
		text-transform: uppercase;
		padding: 1em 1.75em 1em 0;
		padding-bottom: 1.0rem;
	}

	& button .icon {
		display: inline-block;
		position: absolute;
		top: 2.5rem;
		right: 18px;
		width: 22px;
		height: 22px;
		border: 1px solid;
		border-radius: 22px;
	}


	& button .icon::before {
		display: block;
		position: absolute;
		content: '';
		top: 9px;
		left: 5px;
		width: 10px;
		height: 2px;
		background: currentColor;
	}


	& button .icon::after {
		display: block;
		position: absolute;
		content: '';
		top: 5px;
		left: 9px;
		width: 2px;
		height: 10px;
		background: currentColor;
	}


	& button[aria-expanded='true'] {
	}


	& button[aria-expanded='true'] .icon::after {
		width: 0;
	}


	& button[aria-expanded='true'] + .accordion-content {
		opacity: 1;
		max-height: 40em;
		transition: all 200ms linear;
		will-change: opacity, max-height;
	}


	& .accordion-content {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 200ms linear, max-height 200ms linear;
		will-change: opacity, max-height;
	}


	& .accordion-content p {
		font-family: "Lexend", sans-serif;
		font-size: 2.0rem;
		font-weight: 400;
		margin: 1.5em;
		margin-top: 0.25em;
	}

}