/* === GIVEWP GRID === */
.give-wrap {

	@include atMedium {

	}


	& .give-grid__item > a:hover {
		border-color: none;
		box-shadow: none;
	}




	& .give-card {
		border-radius: 0px;
		box-shadow: none;
		background-color: rgba($color-sowo,0.08);
		border: 0.5px solid  rgba($color-sowo,0.5);
		margin: 0.5rem;
		margin-bottom: 3%;

		@include atMedium {

		}
	}


	& .give-form-grid-media {
		min-height: 380px !important;
		background-color: transparent !important;
	}


	& .give-card__media {
		display: flex;
		height: 100%;
		background-color: $color-white;
		padding: 1.5rem;
	}



	& .give-form-grid-media .give-card__media img {
		width: 100%;
		height: auto;
		object-fit: contain !important;
		margin: auto 0;
	}


	& .give-form-grid-content {
		justify-content: flex-start;
	}


	& .give-form-grid-content__title {
		min-height: 2rem;
		font-family: "Kulim Park", sans-serif;
		font-size: 2rem;
		line-height: 2.4rem;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		color: $color-sowo;
		background-color: transparent;
		border-bottom: none;
		margin-top: 1.0rem;
		margin-bottom: 0.5rem;
		padding-left: 0;

		@include atMedium {

		}
	}


	& .give-form-grid-content__text {
		min-height: 6.6rem;
		font-family: "Sofia Sans Condensed", sans-serif;
		font-size: 1.6rem;
		line-height: 2.2rem;
		font-weight: 400;
		margin-top: 2rem;
		margin-bottom: 1rem;

		@include atMedium {

		}
	}


	& .give-form-grid-content>button {
		position: relative;
		font-family: "Sofia Sans Condensed", sans-serif;
		font-size: 1.8rem !important;
		font-weight: 600;
		line-height: 2.0rem !important;
		text-transform: none !important;
		text-decoration: none;
		letter-spacing: 0 !important;
		background-color: $color-sowo !important;
		border: 0px solid;
		border-radius: 14px;
		margin-top: 1.0rem !important;
		margin-bottom: 2.0rem !important;
		padding: 1.0rem 1.75rem !important;

		@include atMedium {

		}
	}


	& .give-form-grid-content>button>span {
		color: $color-white !important;
	}

}