/* === PARTNER OVERVIEW === */
.partner-overview {


	@include atMedium {

	}


	&__container {
		position: relative;
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3%;

		@include atMedium {
			flex: 3;
		}
	}


	&__card {
		position: relative;
		width: 100%;
		min-height: 200px;
		height: auto;
		border: 1px solid $color-light-gray;
		margin-top: 3%;

		@include atMedium {
			width: 30%;
		}
	}


	&__link {
		position: relative;
		min-height: 200px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@include atMedium {

		}
	}


	&__logo-img {
		position: relative;
		max-width: 70%;
		width: auto;
		max-height: 140px;
		height: auto;
		margin-top: 25%;
		margin-bottom: 25%;

		@include atMedium {

		}
	}
}