/* === PARTNERS === */
.partners {
	position: relative;
	width: 100%;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;

	& a {
		text-decoration: none;
	}

	&__headline {
		margin-left: 1.0rem;

		@include atMedium {
			padding-left: 18px;
			padding-right: 18px
		}
	}

	&__headline span {
		background-color: $color-light-gray;
	}


	&__container {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0.5rem;
		padding: 1.5rem 0.5rem;
	}


	&__card {

	}


	&__card-container {
		text-align: center;
		background-color: $color-light-gray;
		border-color: $color-gray;
	}


	&__thumbnail {
		max-width: 90%;
		width: auto;
	}


	&__img {
		max-width: 90%;
		width: auto;
		height: auto;
		margin-bottom: 10px;
	}


	&__content {
		position: relative;
		display: block;
		width: 100%;
		min-height: 17.0rem;
		height: auto;
		line-height: 2.0rem;
		background-color: $color-tertiary;
		margin: 0;
		padding: 0;
	}


	&__title {
		font-family: "Alumni Sans", sans-serif;
		font-weight: 900;
		font-size: 2.6rem;
		line-height: 3.1rem;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		color: $color-yellow;
		margin-top: 2.5rem;
	}


	&__subtitle {
		font-family: "Alumni Sans", sans-serif;
		font-weight: 400;
		font-size: 2.4rem;
		line-height: 2.9rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		color: $color-white;
		margin: 0;
	}


	&__url {
		display: inline-block;
		max-width: 80%;
		width: auto;
		color: $color-yellow;
		text-decoration: none;
		border: 1px solid $color-yellow;
		border-radius: 5px;
		margin: 0 auto;
		margin-bottom: 1.5rem;
		padding: 0.5rem 1.5rem;
	}

}