/* == CONTAINERS == */
.container-fullwidth {


  &__img {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
  }


  &__heading {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }


  &__btn {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
  }
}


.outer-wrapper {

  @include atMedium {
    max-width: 1136px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}


.intro {
  padding: 0rem 0.5rem;
}


.img-container {
  position: relative;
  display: block;
  min-height: 250px;
}