/* == VARIABLES == */
/* == Colors == */
$color-sowo: #6E2596;
$color-wg: #FF9500;
$color-bw: #B7CF00;
$color-beve: #00C0E3;
$color-punk: #707070;


$color-light-gray: #DEDEDE;
$color-lighter-gray: #aeabab;
$color-dark-gray: #646464;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #A12528;