/* == COLORS == */
$color-primary: #ED6F34;
$color-secondary: #449edd;
$color-tertiary: #557237;

$color-yellow: #FFED01;
$color-gray: #707070;
$color-light-gray: #E0E0E0;
$color-white: #E0E0E0;
$color-light-white: #FFFFFF;
$color-black: #000000;