@charset "UTF-8";
/* abstract */ /* == VARIABLES == */
/* == Colors == */
/* == MIXINS == */
/* -- Clearfix -- */
/* -- Link Styles -- */
/* -- Breakpoints -- */
/* == FUNCTIONS == */ /* == CONTAINERS == */
.container-fullwidth__img {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  text-align: center;
}
.container-fullwidth__heading {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.container-fullwidth__btn {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
}

@media (min-width: 769px) {
  .outer-wrapper {
    max-width: 1136px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}

.intro {
  padding: 0rem 0.5rem;
}

.img-container {
  position: relative;
  display: block;
  min-height: 250px;
}

/* base */
/* == FONTS == */
/* KULIM PARK */
/* kulim-park-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kulim Park";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/kulim-park/kulim-park-v14-latin_latin-ext-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kulim-park-italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kulim Park";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/kulim-park/kulim-park-v14-latin_latin-ext-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kulim-park-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kulim Park";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/kulim-park/kulim-park-v14-latin_latin-ext-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kulim-park-600italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kulim Park";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/kulim-park/kulim-park-v14-latin_latin-ext-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* SOFIA SANS CONDENSED */
/* sofia-sans-condensed-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sofia Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/sofia-sans-condensed/sofia-sans-condensed-v2-latin_latin-ext-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sofia-sans-condensed-italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sofia Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/sofia-sans-condensed/sofia-sans-condensed-v2-latin_latin-ext-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sofia-sans-condensed-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sofia Sans Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/sofia-sans-condensed/sofia-sans-condensed-v2-latin_latin-ext-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sofia-sans-condensed-600italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sofia Sans Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/sofia-sans-condensed/sofia-sans-condensed-v2-latin_latin-ext-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sofia-sans-condensed-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sofia Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/sofia-sans-condensed/sofia-sans-condensed-v2-latin_latin-ext-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sofia-sans-condensed-700italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sofia Sans Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/sofia-sans-condensed/sofia-sans-condensed-v2-latin_latin-ext-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* SLICK ICONS */
@font-face {
  font-family: "slick" !important;
  font-style: normal !important;
  font-weight: normal !important;
  src: url("../../fonts/slick/slick.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick/slick.woff") format("woff"), url("../../fonts/slick/slick.ttf") format("truetype"), url("../../fonts/slick/slick.svg#slick") format("svg"); /* Legacy iOS */
}
/* FONT AWESOME SOLID */
@font-face {
  font-family: "FontAwesome Solid";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/fontawesome/fa-solid-900.eot"); /* IE9 Compact Modes */
  src: local(""), url("../../fonts/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("../../fonts/fontawesome/fa-solid-900.woff") format("woff"), url("../../fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("../../fonts/fontawesome/fa-solid-900.svgFontAwesomeSolid") format("svg"); /* Legacy iOS */
}
/* Font Awesome Brands */
@font-face {
  font-family: "FontAwesome Brands";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/fontawesome/fa-brands-400.eot"); /* IE9 Compact Modes */
  src: local(""), url("../../fonts/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("../../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../../fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("../../fonts/fontawesome/fa-brands-400.svg#FontAwesomeBrands") format("svg"); /* Legacy iOS */
}
/* == BASIC SETTINGS == */
/* -- Resets -- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: #646464;
  /*   background: url("../../images/backgrounds/bg_lion-pattern-green.png"), $color-basic-light;
    background-size: contain;
    background-repeat: repeat-y; */
}
main {
  margin: 0rem;
  padding: 0rem 1rem;
}
@media (min-width: 769px) {
  main {
    position: relative;
    /* top: -115px; */
  }
}

.site-content {
  background-color: rgba(255, 255, 255, 0.68);
  padding: 1rem;
  margin: 0rem 1rem;
}
@media (min-width: 769px) {
  .site-content {
    max-width: 1136px;
    position: relative;
    margin: 0 auto;
  }
}

.inner-container {
  padding: 0 0.5rem;
}
@media (min-width: 769px) {
  .inner-container {
    padding: 0 4rem;
  }
}

.site-content__intro-heading {
  width: calc(100% + 1rem);
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: -1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.img--fullwidth {
  position: absolute;
  max-width: inherit;
  width: 100vw;
  min-height: 200px;
  height: fit-content;
  left: 0%;
  right: 50%;
  margin: 2rem auto;
  margin-left: -8vw;
  margin-right: -50vw;
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}
@media (min-width: 769px) {
  .img--fullwidth {
    position: relative;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: initial;
  }
}

/* == TYPOGRAPHY == */
/* -- Default Classes -- */
body {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  hyphens: auto;
  hyphenate-limit-chars: auto 3;
  hyphenate-limit-lines: 4;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 3;
  -webkit-hyphenate-limit-lines: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-lines: 4;
}

h1 {
  font-family: "Kulim Park", serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 300;
  color: #6E2596;
}
.subheading {
  font-size: 1.8rem;
  margin-top: -1.5rem;
}

h2 {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 769px) {
  h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 2.8rem;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  line-height: 3.3rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.h3--smaler {
  font-size: 2rem;
  line-height: 3rem;
  text-transform: initial;
}

h4 {
  font-size: 2.6rem;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.6rem;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #646464;
  margin-bottom: 1rem;
}

a {
  color: #6E2596;
}

.site-main ol {
  padding-left: 3rem;
}

.site-main ul {
  padding-left: 3rem;
}

input[type=checkbox] {
  accent-color: #6E2596;
}

input[type=radio] {
  accent-color: #6E2596;
}

input[type=range] {
  accent-color: #6E2596;
}

progress {
  accent-color: #6E2596;
}

.cite-light {
  position: relative;
  width: 90%;
  font-size: 2.6rem;
  text-transform: uppercase;
  line-height: 3.8rem;
  color: #EDE7E7;
  padding: 2rem;
}

.cite-dark {
  position: relative;
  width: 90%;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 3.8rem;
  padding: 2rem;
}
@media (min-width: 769px) {
  .cite-dark {
    font-size: 2.6rem;
  }
}

.cite-wide {
  width: 100%;
  padding: 0rem;
}

/* == UTILITIES & HELPERS == */
.shoutout {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.preparation__container {
  padding: 1rem;
}

.preparation__container h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 3rem 0;
  margin-right: -2rem;
  margin-left: -2rem;
}

.bg-green {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bg--wild {
  margin-top: -8rem;
  margin-bottom: -6rem;
}

.wp-block-columns.has-background {
  margin-left: -1rem;
  margin-right: -1rem;
}

.wp-container-34 {
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: center !important;
}

body .is-layout-flex {
  justify-content: center !important;
}

.fullwidth-img img {
  max-width: calc(100% + 2rem);
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  overflow: hidden;
}

.lift-up {
  margin-top: -1rem;
}

/* --- WordPress Helper Classes --- */
/* Heading */
.wp-block-heading {
  line-height: 3.6rem;
  margin-bottom: 1rem;
}

h2.wp-block-heading {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 769px) {
  h2.wp-block-heading {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}

h3.wp-block-heading {
  display: inline-block;
  font-weight: 300;
  padding-bottom: 0.15rem;
  width: auto;
}

/* Blockquotes */
.wp-block-quote {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
.wp-block-quote p {
  position: relative;
  width: 95%;
  font-size: 3.2rem;
  line-height: 5.6rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
}
/* Tables */
.wp-block-table {
  line-height: 3.6rem;
  margin-bottom: 1rem;
}

.is-style-stripes tr:nth-of-type(odd) {
  background-color: #EAEAEA;
}

thead tr th:first-child,
tbody tr td:first-child {
  word-break: break-all;
}
@media (min-width: 769px) {
  thead tr th:first-child,
tbody tr td:first-child {
    width: 40rem;
    min-width: 40rem;
    max-width: 40rem;
  }
}

.wp-block-table td {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 300;
}
@media (min-width: 769px) {
  .wp-block-table td {
    margin: 2rem;
  }
}

/* == ANIMATIONS == */
/* components */
/* == BUTTONS == */
.underlined {
  text-decoration: underline;
}

.border--white img {
  border-color: #ffffff !important;
}

.border--none img {
  border: none !important;
}

.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  color: inherit;
  border: 1px solid;
  margin: 1rem 0;
  margin-top: 3rem;
  padding: 0.75rem 1.5rem;
}

.btn--white,
.btn--white:link,
.btn--white:visited {
  color: #ffffff;
}

/* === ACCORDIONS === */
* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.accordion {
  position: relative;
}
.accordion .accordion-item {
  border-bottom: 1px solid #6E2596;
}
.accordion .accordion-item button[aria-expanded=true] {
  /* border-bottom: 1px solid $mainRed; */
  padding-bottom: 0.25rem;
}
.accordion button {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 0.25rem 1em;
  color: #EDE7E7;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.6rem;
  border: none;
  background: #829488;
  outline: none;
  border-radius: 0px;
  margin-bottom: 0rem;
  padding-right: 1rem;
  padding-bottom: 1rem !important;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #6E2596;
  background-color: transparent !important;
}
.accordion button .accordion-title {
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em 1.75em 1em 0;
  padding-bottom: 1rem;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 2.5rem;
  right: 18px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 40em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 1.5em;
  margin-top: 0.25em;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../../icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -20px;
}
@media (min-width: 769px) {
  .slick-prev {
    left: -25px;
  }
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -20px;
}
@media (min-width: 769px) {
  [dir=rtl] .slick-prev {
    right: -25px;
  }
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -20px;
}
@media (min-width: 769px) {
  .slick-next {
    right: -25px;
  }
}
[dir=rtl] .slick-next {
  left: -20px;
  right: auto;
}
@media (min-width: 769px) {
  [dir=rtl] .slick-next {
    left: -25px;
  }
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* === TEAM MEMBERS === */
.team-members__container {
  position: relative;
  display: block;
  width: 100%;
}
.team-members__listing {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 769px) {
  .team-members__listing {
    flex: 3;
    gap: 3%;
    margin-left: -1.8rem;
  }
}
.team-members__listing-item {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  list-style: none;
  border: 1px solid #6E2596;
  margin: 0.5rem;
  margin-bottom: 3%;
  padding: 0rem;
}
@media (min-width: 769px) {
  .team-members__listing-item {
    position: relative;
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.team-members__card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.team-members__img {
  width: 100%;
  height: auto;
}
.team-members__person {
  position: relative;
  width: 100%;
  display: block;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.team-members__name {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #6E2596;
  margin-bottom: 0.25rem;
}
.team-members__jobtitle {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.team-members__contact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #6E2596;
  border-bottom: 3px solid #6E2596;
  padding: 1rem;
}
.team-members__contact-data a {
  position: relative;
  display: block;
  font-weight: 300;
  color: #646464;
  text-decoration: none;
}
.team-members__phone {
  display: block;
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.team-members__mail {
  display: block;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.team-members__social-media {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-top: 1rem;
}
.team-members__linkedin {
  display: block;
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-top: 1rem;
  margin-top: 1rem;
}
.team-members__xing {
  display: block;
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-top: 1rem;
}

/* === PARTNER OVERVIEW === */
.partner-overview__container {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 769px) {
  .partner-overview__container {
    flex: 3;
  }
}
.partner-overview__card {
  position: relative;
  border: 1px solid #EAEAEA;
  min-height: 235px;
  height: auto;
}
@media (min-width: 769px) {
  .partner-overview__card {
    width: 33%;
  }
}
.partner-overview__link {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
.partner-overview__logo-img {
  position: relative;
  max-width: 70%;
  width: auto;
  max-height: 70%;
  height: auto;
  margin-top: 15%;
  margin-bottom: 15%;
}
/* === PARTNER SLIDER === */
.partner-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  width: auto;
  max-height: 180px;
  height: auto;
  margin: 0 auto;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.partner-slider a {
  text-decoration: none;
}
.partner-slider__container {
  border-top: 3px solid #6E2596;
  border-bottom: 3px solid #6E2596;
}
.partner-slider .slick-list {
  width: calc(100% - 6rem);
}
.partner-slider .slick-track {
  display: inline-flex;
  min-height: 180px;
}
.partner-slider__card {
  position: relative;
  height: 100% !important;
  margin: auto;
}
.partner-slider__link {
  max-width: 100%;
  width: auto;
  max-height: 160px;
  height: auto;
  margin: auto;
}
.partner-slider__logo-img {
  min-height: 80px;
  max-height: 110px;
  height: auto;
  max-width: 220px;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  object-position: center center;
  margin: auto;
}
.partner-slider .slick-prev:before,
.partner-slider .slick-next:before {
  font-family: "FontAwesome Solid";
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
  color: #6E2596;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.partner-slider .slick-prev {
  left: 0px;
}
.partner-slider .slick-prev:before {
  content: "\f053";
}
.partner-slider [dir=rtl] .slick-prev:before {
  content: "\f054";
}
.partner-slider [dir=rtl] .slick-next {
  left: -10px;
  top: 70px;
  right: auto;
}
.partner-slider .slick-next {
  right: 0px;
}
.partner-slider .slick-next:before {
  content: "\f054";
}
.partner-slider [dir=rtl] .slick-next:before {
  content: "\f053";
}

/* === JOBS OVERVIEW === */
.jobs-overview__container {
  position: relative;
  display: block;
  width: 100%;
}
.jobs-overview__listing {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 769px) {
  .jobs-overview__listing {
    flex: 3;
    gap: 3%;
    margin-left: -1.8rem;
  }
}
.jobs-overview__listing-item {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  list-style: none;
  border: 1px solid #6E2596;
  margin: 0.5rem;
  margin-bottom: 3%;
  padding: 0rem;
}
@media (min-width: 769px) {
  .jobs-overview__listing-item {
    position: relative;
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.jobs-overview__card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.jobs-overview__title-container {
  position: relative;
  width: 100%;
  display: block;
  background-color: #6E2596;
  padding: 1.5rem;
}
.jobs-overview__title {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #ffffff;
  margin-bottom: 0.25rem;
}
.jobs-overview__summary {
  width: 90%;
  font-size: 1.8rem;
  line-height: 3.6rem;
  padding: 1.5rem;
}
.jobs-overview__link-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #6E2596;
  border-bottom: 3px solid #6E2596;
  padding: 1.5rem;
}
.jobs-overview__link {
  position: relative;
  display: block;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 400;
  text-decoration: none;
  color: #6E2596;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.jobs-overview__link img {
  position: relative;
  width: 22px;
  height: auto;
  top: 3px;
  margin-right: 0.75rem;
}

/* === BUTTON BACK TO TOP === */
.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 25px;
  /* padding: 1.5em 2.0em; */
  z-index: 1000;
  opacity: 1;
}
@media (min-width: 769px) {
  .back-to-top {
    padding: 1.5em 2em;
  }
}

.back-to-top img {
  width: 40px !important;
}

/* layout */
/* == SITE HEADER TOP */
.site-header-top {
  display: none;
}
@media (min-width: 769px) {
  .site-header-top {
    display: block;
    width: 100%;
    position: relative;
    min-height: 55px;
    background-color: #ffffff;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    z-index: 10;
  }
}

.site-header-top a {
  text-decoration: none;
}

@media (min-width: 769px) {
  .site-header-top__wrapper {
    position: relative;
    max-width: 1136px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0 auto;
  }
}

.site-header-top__contact-information {
  width: 60%;
  display: inline-flex;
}

.site-header-top__contact-information-email {
  width: 25%;
}

.site-header-top__contact-information-email-icon {
  width: 1.5rem;
  height: auto;
}

.site-header-top__contact-information-email-address {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.site-header-top__contact-information-phone {
  width: 25%;
}

.site-header-top__contact-information-phone-icon {
  width: 1.5rem;
  height: auto;
}

.site-header-top__contact-information-phone-number {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.site-header-top__contact-information-address {
  width: 50%;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.site-header-top__contact-information-address-icon {
  width: 1.3rem;
  height: auto;
}

.language__container {
  width: 10%;
}

.language__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.language__list-item:first-child::after {
  content: "|";
  color: #6E2596;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.language__list-item {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.language__list-item-link {
  display: inline-block;
}

.language__list-item a {
  color: #6E2596;
}

/* == SITE HEADER */
.site-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
@media (min-width: 769px) {
  .site-header {
    max-width: 1136px;
    width: 100%;
    height: 65px;
    color: #ffffff;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 100 !important;
  }
}

.site-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .site-header__wrapper {
    max-width: 1136px;
    position: relative;
    margin: 0 auto;
    margin-top: 65px;
  }
}

.site-header a {
  color: #646464;
  text-decoration: none;
  color: #646464;
}

@media (min-width: 769px) {
  .site-header__branding {
    width: initial;
    margin-left: 0rem;
    z-index: 10;
  }
}

.site-header__logo {
  position: relative;
  min-width: 170px;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-left: 0.5rem;
}
@media (min-width: 769px) {
  .site-header__logo {
    position: relative;
    min-width: 200px;
    width: auto;
    height: auto;
    /* min-width: 150px;
    min-height: 120px; */
    margin-left: 0rem;
  }
}

.header-logo__link {
  width: 100%;
  height: 100%;
}

.site-header__logo-img {
  width: 100%;
  height: auto;
}
.mobile-language__container {
  width: 100%;
}
@media (min-width: 769px) {
  .mobile-language__container {
    display: none;
  }
}

.mobile-language__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.mobile-language__list-item:first-child::after {
  content: "|";
  color: #ffffff;
  margin-left: 0.25rem;
  margin-right: 0.75rem;
}

.mobile-language__list-item {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.mobile-language__list-item-link {
  display: inline-block;
}

.mobile-language__list-item a {
  color: #ffffff;
}

.site-header__nav-container {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 1rem;
}
@media (min-width: 769px) {
  .site-header__nav-container {
    width: 90%;
  }
}

/* == NAVIGATION == */
/* -- Main Navigation -- */
.main-navigation {
  display: inline-block;
  width: 50%;
}
@media (min-width: 769px) {
  .main-navigation {
    max-width: 1136px;
    position: relative;
    display: block;
    width: 100%;
  }
}

.site-menu {
  position: relative;
  min-height: 72px;
  height: auto;
  text-align: right;
}
@media (min-width: 769px) {
  .site-menu {
    display: none;
  }
}

/* -- Burger Menu -- */
.burger-menu {
  position: relative;
  display: inline-block;
  width: 30px;
  min-height: 30px;
  height: auto;
  top: auto;
  margin-top: 15px;
  margin-right: 3.5rem;
  transition: border-radius 0.5s;
}
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}

.line {
  position: absolute;
  position: relative;
  display: block;
  height: 3px;
  width: 30px;
  background: #ffffff;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 10px;
  top: 8px;
}

.line:nth-child(2) {
  top: 20px;
  top: 16px;
}

.line:nth-child(3) {
  top: 30px;
  top: 24px;
}

/* --- Burger Menu Animation  --- */
.burger-menu.checked .line:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.burger-menu.checked .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.checked .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

.navbar {
  display: none;
}
@media (min-width: 769px) {
  .navbar {
    display: initial;
    display: flex;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: normal;
    margin-right: 0;
    margin-left: auto;
    padding-left: 4rem;
  }
}

.is-active .navbar {
  position: absolute;
  display: block;
  width: 100vw;
  height: calc(100vh - 85px);
  /* top: 60px; */
  top: 100px;
  left: 0px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 6px solid #6E2596;
  padding-top: 0px;
  transition: 0.8s;
  z-index: 1;
}
@media (min-width: 769px) {
  .is-active .navbar {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: initial;
    top: initial;
    left: initial;
    background-color: transparent;
    border-top: none;
    padding-top: initial;
    z-index: initial;
    margin-right: 0;
    margin-left: auto;
    padding-left: 4rem;
  }
}

.navbar__navigation-list {
  width: 100%;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  height: 65px;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 769px) {
  .navbar__navigation-list {
    justify-content: space-between;
  }
}

.main-navigation.is-active .navbar__navigation-list {
  position: relative;
  display: inline-table;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 4rem;
}
@media (min-width: 769px) {
  .main-navigation.is-active .navbar__navigation-list {
    /* display: none; */
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding-top: initial;
  }
}

.navbar-item {
  list-style: none;
}

.main-navigation.is-active .navbar-item {
  position: relative;
  text-align: center;
  margin: 3rem auto;
}
@media (min-width: 769px) {
  .main-navigation.is-active .navbar-item {
    /* display: none; */
    text-align: initial;
    margin: initial;
  }
}

.navbar-item a,
.is-active .navbar-item a {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-decoration: uppercase;
}
@media (min-width: 769px) {
  .navbar-item a,
.is-active .navbar-item a {
    font-weight: 600;
    text-transform: initial;
  }
}

.navbar-item a:hover,
.navbar-item a:active {
  border-bottom: 1px solid #6E2596;
  padding-bottom: 0.75rem;
}

/* -- Footer Navigation -- */
/* == LARGE HERO */
.large-hero {
  position: relative;
  top: -105px;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  z-index: -1;
}
@media (min-width: 769px) {
  .large-hero {
    /* max-width: 1136px; */
    width: 100%;
    position: relative;
    /* min-height: 478px;
    max-height: 478px; */
    height: auto;
    /*     top: -105px; */
    margin: 0 auto;
    overflow: hidden;
  }
}

.large-hero__img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.large-hero__img--desktop {
  display: none;
}

@media (min-width: 769px) {
  .large-hero__img--smartphone {
    display: none;
  }
}

@media (min-width: 769px) {
  .large-hero__img--desktop {
    display: initial;
  }
}

@media (min-width: 769px) {
  .large-hero__text {
    max-width: 50%;
    width: auto;
  }
}

.large-hero__text {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  max-width: 60%;
  width: auto;
}
@media (min-width: 769px) {
  .large-hero__text {
    max-width: 50%;
    width: auto;
  }
}

/* .large-hero__text h1 {
  display: inline;
  font-size: 1.8rem;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  line-height: 5.4rem;
  color: $color-tertiary;
  background-color: $color-primary;
  border: 3px solid $color-secondary;
  padding: 0.8rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  @include atMedium {
    font-size: 4.6rem;
    line-height: 9rem;
    left: 6.0rem;
  }
}


.home .large-hero__text {
  text-indent: -99999999px;
} */
/* == CONTACT-NAVBAR == */
.contact-navbar {
  position: absolute;
  width: 100%;
  min-height: 40px;
  height: auto;
  top: 105px;
  color: #6E2596;
  background-color: #ffffff;
}
@media (min-width: 769px) {
  .contact-navbar {
    display: none;
  }
}

.contact-navbar__wrapper {
  max-width: 1136px;
  width: calc(100% - 4rem);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
}

.contact-navbar__item {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Kulim Park", sans-serif;
  line-height: 2rem;
  color: #6E2596;
}

.contact-navbar__item a {
  text-decoration: none;
}

.contact-navbar__item--email {
  width: 50%;
  font-weight: 400;
  margin-left: 1rem;
}

.contact-navbar__item--email-icon {
  width: 1.5rem;
  height: auto;
}

.contact-navbar__item--email-address {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.contact-navbar__item--phone {
  width: 50%;
}

.contact-navbar__item--phone-icon {
  width: 1.5rem;
  height: auto;
}

.contact-navbar__item--phone-number {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 300;
}

/* == SITE FOOTER == */
.site-footer {
  background: #EAEAEA;
  padding-top: 5rem;
  padding-bottom: 0rem;
}
@media (min-width: 769px) {
  .site-footer {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-top: 1rem;
  }
}

.site-footer__row {
  position: relative;
  width: 100%;
}
@media (min-width: 769px) {
  .site-footer__row {
    max-width: 1136px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: auto;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }
}

.site-footer a {
  color: #6E2596;
  font-weight: 600;
  text-decoration: none;
}

@media (min-width: 769px) {
  .site-footer-navbar {
    width: 80%;
  }
}

@media (min-width: 769px) {
  .site-footer__additional-data {
    width: 30%;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.site-footer-navbar__navigation-list {
  text-align: left;
  margin-left: 3.5rem;
}
@media (min-width: 769px) {
  .site-footer-navbar__navigation-list {
    display: flex;
    flex: 3;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 2rem;
  }
}

.site-footer-navbar__navigation-list .navbar-item {
  line-height: 3.4rem;
  margin-bottom: 3rem;
}
@media (min-width: 769px) {
  .site-footer-navbar__navigation-list .navbar-item {
    width: 30%;
    line-height: initial;
  }
}

.site-footer-navbar__navigation-list .navbar-item a {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #646464;
  font-weight: 400;
  text-transform: none;
}
.site-footer__navigation {
  padding-top: 4rem;
}
@media (min-width: 769px) {
  .site-footer__navigation {
    padding-top: 0rem;
  }
}

.site-footer__navigation-list {
  text-align: left;
  list-style: none;
  margin-left: 3.5rem;
  padding-bottom: 3.4rem;
}
@media (min-width: 769px) {
  .site-footer__navigation-list {
    position: relative;
    width: 100% !important;
    list-style: none !important;
    margin-left: 2rem;
  }
}

.site-footer__main-navigation-list-item {
  margin-bottom: 3rem;
}

@media (min-width: 769px) {
  .site-footer__main-navigation-list-item:last-child {
    margin-bottom: 0rem;
  }
}

.site-footer__main-navigation-list-item a {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #6E2596;
}

.site-footer__contact-information {
  width: 100%;
  display: block;
  font-family: "Sofia Sans Condensed", sans-serif;
  text-align: left;
  color: #6E2596;
  background-color: #ffffff;
  border-top: 3px solid #6E2596;
  margin: 0rem auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information {
    width: initial;
    justify-content: initial;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 769px) {
  .site-footer__contact-information-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 2rem;
    gap: 0rem;
  }
}

.site-footer__contact-information-logos {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-left: 2rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-logos {
    width: 25%;
  }
}

.site-footer__contact-information-logo {
  width: 60%;
}

.site-footer__contact-information-logo-img {
  width: 100%;
  height: auto;
}

.site-footer__contact-information-logo-extension {
  width: 20%;
}

.site-footer__contact-information-logo-extension-img {
  width: 100%;
  height: auto;
}

.site-footer__contact-information-block {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.7rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-block {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

.site-footer__contact-information-block a {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.7rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-block a {
    font-size: 1.8rem;
    line-height: 3.7rem;
  }
}

.site-footer__contact-information-phone {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-phone {
    flex-basis: 45%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.site-footer__contact-information-phone-number:before {
  content: "";
  display: block;
  background: url("../../icons/icon_phone--blue.svg") no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  float: left;
  margin: 10px 6px 0 0;
}

.site-footer__contact-information-email {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-email {
    flex-basis: 45%;
    margin-top: -4.75rem;
    margin-bottom: 0.75rem;
    order: 3;
  }
}

.site-footer__contact-information-email-address:before {
  content: "";
  display: block;
  background: url("../../icons/icon_email--blue.svg") no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  float: left;
  margin: 10px 6px 0 0;
}

.site-footer__contact-information-address {
  margin-left: 1rem;
  padding-left: 2rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-address {
    flex-basis: 45%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    order: 2;
    font-size: 1.8rem;
    line-height: 3.7rem;
  }
}

.site-footer__contact-information-address:before {
  content: "";
  display: block;
  background: url("../../icons/icon_address--blue.svg") no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  float: left;
  margin: 0.7rem 0 0 -2.6rem;
}

@media (min-width: 769px) {
  .site-footer__contact-information-member-of {
    width: 30%;
  }
}

.site-footer__contact-information-member-of-img {
  width: calc(100% - 4rem);
  height: auto;
  margin-left: 2rem;
}
@media (min-width: 769px) {
  .site-footer__contact-information-member-of-img {
    width: 100%;
    margin-left: 0rem;
  }
}

.site-footer__copyright {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background-color: #6E2596;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 769px) {
  .site-footer__copyright {
    width: 100%;
  }
} /* pages */
/* == PAGE HOME */
.home {
  /*   & h1 {
      text-indent: -9999px;
      height: 0rem;
    } */
}
@media (min-width: 769px) {
  .home .container-half-on-desktop {
    position: relative;
    width: calc(50% + 3rem) !important;
    min-height: 350px;
    max-height: 350px;
    height: 100%;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* == PAGE IMPRESSUM */
.impressum {
  color: #646464;
}
.impressum strong {
  font-size: 1.4rem;
  color: #6E2596;
}
.impressum h2 {
  font-size: 2.6rem;
  line-height: 3.3rem;
  font-weight: 300;
  text-transform: none;
  color: #6E2596;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 769px) {
  .impressum h2 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
}
.impressum table {
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
}
@media (min-width: 769px) {
  .impressum table {
    width: calc(100% - 1rem);
    margin-top: 2rem;
    margin-left: 1rem;
  }
}
.impressum table table td {
  width: 100%;
}
@media (min-width: 769px) {
  .impressum table table td {
    width: initial;
  }
}
.impressum .wp-block-table.is-style-stripes {
  overflow: hidden !important;
}

/* == PAGE AGBs GEBWERBLICH */
.agbs ol {
  list-style-position: inside;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.agbs ol.level-one > li {
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #6E2596;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.agbs ol.level-two {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #646464;
  list-style-type: lower-latin;
  list-style-position: outside;
  margin-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.agbs ol li {
  line-height: 2.25rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.agbs ol.level-three {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #646464;
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.agbs ol.level-three li li {
  margin-left: -1.5rem;
}

/* vendors */
/* COOKIE BANNER */
/* === DYWC === */
#dywc_bglayer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 0.25s;
}

#dywc {
  text-align: center;
  position: fixed;
  box-sizing: border-box;
  font-weight: 300;
  color: #646464;
  transition: all 0.25s;
  width: calc(100% - 60px);
  border: 2px solid #6E2596;
  z-index: 1000;
  opacity: 1;
  max-width: 400px;
}

#dywc > .content {
  padding: 15px;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
  position: relative;
}

#dywc > .content h2 {
  color: #6E2596 !important;
  font-size: 18px;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
}

#dywc > .content p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: light !important;
  margin: 15px 0;
  padding: 0;
}

#dywc > .content P:last-child {
  margin-bottom: 0;
}

#dywc > .content a {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #6E2596;
}

#dywc > .content a.info {
  display: inline-block;
  margin-left: 5px;
}

#dywc > .content > div {
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-color: rgba(110, 37, 150, 0.3);
  border: 1px solid #6E2596;
  padding: 15px 0px;
}

#dywc > .content > div .cookie_group_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#dywc > .content > div .cookie_group_wrap > * {
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#dywc > .content > div .cookie_group > label {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
}

#dywc > .content > div a {
  font-size: 1.2rem;
}

#dywc > .content > div a.info {
  font-size: 1.2rem;
}

#dywc > .content > div a.info:before {
  content: "[";
  display: inline-block;
  margin-right: 5px;
}

#dywc > .content > div a.info:after {
  content: "]";
  display: inline-block;
  margin-left: 5px;
}

#dywc > .content > div .accept_wrap {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#dywc > .content > div .accept_wrap > a {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

#dywc > .content > div .accept_wrap > a.accept {
  color: #6E2596;
  background-color: #6E2596;
  padding: 8px 18px;
  text-decoration: none;
  position: relative !important;
  display: inline-block !important;
  width: auto !important;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: center !important;
  border: none;
  margin: 0.25rem 0;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem;
}

#dywc > .content > div .accept_wrap > a.accept:hover {
  color: #6E2596;
  background: #6E2596;
}

#dywc > .content > div .accept_wrap > a.accept2 {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 1rem;
  border: 1px solid #6E2596;
}

#dywc > .content > div:last-child {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  width: auto;
  background-color: #DEDEDE;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

#dywc > .content > div:last-child a {
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: inline-block;
  margin: 5px 0;
}

#dywc > .info {
  opacity: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background-color: #DEDEDE;
  transition: all 0.5s;
}

#dywc > .info p {
  padding: 15px;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

#dywc > .info > .inner > .group > .cookie {
  text-align: left;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1rem;
  margin: 0 15px 15px 15px;
}

#dywc > .info > .inner > .group > .cookie .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #DEDEDE;
  margin: 0 0 1px 0;
  padding: 5px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

#dywc > .info > .inner > .group > .cookie .row > .label {
  width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
}

#dywc > .info > .inner > .group > .cookie .row > .value {
  text-align: left;
}

#dywc.show_info > .info {
  opacity: 1;
  z-index: 2;
}

#dywc > .content .dsg {
  position: relative;
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.6rem;
  hyphens: none;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#dywc.ft {
  left: 30px;
  top: 30px;
}

#dywc.mt {
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

#dywc.rt {
  right: 30px;
  top: 30px;
}

#dywc.lm {
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#dywc.mm {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#dywc.rm {
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#dywc.lb {
  left: 30px;
  bottom: 30px;
}

#dywc.mb {
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

#dywc.rb {
  right: 30px;
  bottom: 30px;
}

#dywc.hide, #dywc_bglayer.hide {
  opacity: 0;
}

#dywc_info > .cookie {
  text-align: left;
  font-size: 12px;
  margin: 0 0 15px 0;
  width: 100%;
}

#dywc_info > .cookie .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #DEDEDE;
  margin: 0 0 1px 0;
  padding: 2px 5px;
  box-sizing: border-box;
}

#dywc_info > .cookie .row .label {
  min-width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

#dywc_info > .cookie .row .value {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 1rem;
}

#dywc_info .reject {
  color: #A12528;
}

input[type=checkbox], input[type=radio] {
  margin-right: 0.5em;
}

/*# sourceMappingURL=styles.css.map */
