/* == BASIC SETTINGS == */
/* -- Resets -- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  color: $color-dark-gray;
  background-color: $color-light-gray;
/*   background: url("../../images/backgrounds/bg_lion-pattern-green.png"), $color-basic-light;
  background-size: contain;
  background-repeat: repeat-y; */

  @include atMedium {

  }
}


main {
  margin: 0rem;
  padding: 0rem 1rem;

  @include atMedium {
   position: relative;
   /* top: -115px; */
  }
}


.site-content {
  background-color: $color-white;
  padding: 1rem;
  margin: 0rem 1rem;

  @include atMedium {
   max-width: 1136px;
   position: relative;
   border-left: 1px solid $color-lighter-gray;
   border-right: 1px solid $color-lighter-gray;
   margin: 0 auto;
  }
}


.inner-container {
  padding: 0 0.5rem;

  @include atMedium {
   padding: 0 4.0rem;
   padding-bottom: 0.0rem !important;
  }
}


.site-content__intro-heading {
  width: calc(100% + 1.0rem);
  font-size: 2.0rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: -1.0rem;
  margin-bottom: 1.0rem;
  padding-left: 1.0rem;
  padding-bottom: 1.0rem;
}


.img--fullwidth {
  position: absolute;
  max-width: inherit;
  width: 100vw;
  min-height: 200px;
  height: fit-content;
  left: 0%;
  right: 50%;
  margin: 2rem auto;
  margin-left: -8vw;
  margin-right: -50vw;
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;

  @include atMedium {
   position: relative;
   width: calc(100% + 2rem);
   margin-left: -1rem;
   margin-right: initial;
  }
}