/* == TYPOGRAPHY == */

/* -- Default Classes -- */
body {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  hyphens: auto;
  hyphenate-limit-chars: auto 3;
  hyphenate-limit-lines: 4;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 3;
  -webkit-hyphenate-limit-lines: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-lines: 4;
}


h1 {
  font-family: "Kulim Park", sans-serif;
  font-size: 6.0rem;
  line-height: 6.8rem;
  font-weight: 600;
  color: $color-sowo;
  margin-bottom: 2.0rem;

  @include atMedium {

  }
}


.site-title-subheading {
  display: block;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2.0rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $color-dark-gray;
  margin-left: 0.5rem;

  @include atMedium {
    display: initial;
    font-size: 4.0rem;
    line-height: 4.8rem;
    margin-left: initial;
  }
}


h2 {
  display: table;
  width: auto;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $color-white;
  background-color: $color-sowo;
  margin-top: 4.0rem;
  margin-bottom: 2.0rem;
  padding: 0.25rem 0.75rem;

  @include atMedium {
    font-size: 2.4rem;
    line-height: 3.0rem;
  }
}


h3 {
  display: inline-block;
  width: auto;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2.0rem;
  line-height: 2.2rem;
  font-weight: 600;
  border-bottom: 2px solid $color-sowo;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
  padding-bottom: -0.5rem;
}


.h3--smaler {
  font-size: 2.0rem;
  line-height: 3.0rem;
  text-transform: initial;
}


h4 {
  font-size: 2.6rem;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 600;
  line-height: 3.0rem;
  text-transform: uppercase;
  margin-top: 2.0rem;
  margin-bottom: 1.0rem;
}


h4 {
  font-size: 2.6rem;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 600;
  line-height: 3.0rem;
  text-transform: uppercase;
  margin-top: 2.0rem;
  margin-bottom: 1.0rem;
}


p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: $color-dark-gray;
  margin-bottom: 1.0rem;
}


strong {
}


a {
  color: $color-sowo;
}


.site-main ol {
  padding-left: 3.0rem;
}


.site-main ul {
  list-style-type: square;
  padding-left: 3.0rem;
}


input[type=checkbox] {
  accent-color: $color-sowo;
}


input[type=radio] {
  accent-color: $color-sowo;
}


input[type=range] {
  accent-color: $color-sowo;
}


progress {
  accent-color: $color-sowo;
}


.cite-light {
  position: relative;
  width: 90%;
  font-size: 2.6rem;
  text-transform: uppercase;
  line-height: 3.8rem;
  color: #EDE7E7;
  padding: 2.0rem;
}


.cite-dark {
  position: relative;
  width: 90%;
  font-size: 2.0rem;
  text-transform: uppercase;
  line-height: 3.8rem;
  padding: 2.0rem;

  @include atMedium {
    font-size: 2.6rem;
  }
}


.cite-wide {
  width: 100%;
  padding: 0.0rem;
}