/* == UTILITIES & HELPERS == */

.shoutout {
	font-size: 3.6rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 2.5rem;
	margin-bottom: 3.5rem;
}


.preparation__container {
	padding: 1.0rem;
}


.preparation__container h3 {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	background-repeat: no-repeat;
	overflow: hidden;
	padding: 3rem 0;
	margin-right: -2rem;
	margin-left: -2rem;
}


.bg-green {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.bg--wild {
	margin-top: -8rem;
	margin-bottom: -6rem;
}


.wp-block-columns.has-background {
	margin-left: -1rem;
	margin-right: -1rem;
}


.wp-container-34 {
	margin-left: -1rem;
	margin-right: -1rem;
	justify-content: center !important;
}


body .is-layout-flex {
	justify-content: center !important;
}


.fullwidth-img img {
	max-width: calc(100% + 2rem);
	width: calc(100% + 2rem);
	margin-left: -1rem;
	margin-right: -1rem;
	overflow: hidden;
}


.lift-up {
	margin-top: -1.0rem;
}


.has-text-left {
	text-align: left;
}


.has-text-right {
	text-align: right;
}



/* --- WordPress Helper Classes --- */

/* Heading */
.wp-block-heading {
	line-height: 3.6rem;
	margin-bottom: 1.0rem;
}


h2.wp-block-heading {
	display: table;
	width: auto;
	font-family: "Sofia Sans Condensed", sans-serif;
	font-size: 2.4rem;
	line-height: 3.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: $color-white;
	background-color: $color-sowo;
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
	padding: 0.25rem 0.75rem;

	@include atMedium {
		font-size: 2.4rem;
		line-height: 3.0rem;
		margin-top: 4.0rem;
	}
}







h3.wp-block-heading {
	display: inline-block;
	width: auto;
	font-family: "Sofia Sans Condensed", sans-serif;
	font-size: 2.0rem;
	line-height: 2.2rem;
	font-weight: 600;
	border-bottom: 2px solid $color-sowo;
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
	padding-bottom: -0.5rem;
}




/* Blockquotes */
.wp-block-quote {
	margin-top: 2.0rem;
	margin-bottom: 1.0rem;
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;

	@include atMedium {

	}
}


.wp-block-quote p {
	position: relative;
	width: 85%;
	font-family: 'Gemunu Libre', sans-serif;
	font-size: 2.4rem;
	line-height: 3.8rem;
	font-weight: 400;
	margin-left: 2.8rem;

	@include atMedium {
		font-size: 3.4rem;
		line-height: 4.8rem;
		margin-left: 3.5rem;
	}
}


.wp-block-quote p:before {
	display: inline-block;
	content: '„';
	font-size: 5.0rem;
	font-weight: 300;
	margin-left: -2.8rem;
	margin-right: 1.3rem;

	@include atMedium {
		font-size: 7.0rem;
		margin-left: -3.0rem;
		margin-right: 0.5rem;
	}
}


.wp-block-quote p:after {
	position: relative;
	display: inline-block;
	width: auto;
	content: '“';
	font-size: 5.0rem;
	font-weight: 300;
	line-height: 1.0rem;
	top: 1.2rem;

	@include atMedium {
		font-size: 7.0rem;
		font-weight: 300;
		line-height: 1.0rem;
		top: 1.2rem;
	}
}



/* Tables */
.wp-block-table {
	line-height: 3.6rem;
	margin-bottom: 1.0rem;
}

.is-style-stripes tr:nth-of-type(odd) {
	background-color: $color-lighter-gray;
}

thead tr th:first-child,
tbody tr td:first-child {
	word-break: break-all;

	@include atMedium {
		width: 40rem;
		min-width: 40rem;
		max-width: 40rem;
	}
}


.wp-block-table td {
	font-size: 1.8rem;
	line-height: 2.5rem;
	font-weight: 300;

	@include atMedium {
		margin: 2.0rem;
	}
}


.bg-color-sowo {
	background-color: $color-sowo;
	padding: 1.5rem;

	@include atMedium {
		margin-top: 4.5rem !important;
	}
}


.bg-color-sowo p {
	color: $color-white !important;

	@include atMedium {

	}
}
